<!-- METRICS -->
<div
  class="bg-blue py-[60px] px-[6%] grid grid-cols-4 max-[900px]:grid-cols-2"
>
  <div class="px-8 border-r border-white/15">
    <div class="font-syne text-[2.5rem] font-extrabold text-white leading-none">
      5+
    </div>
    <div class="text-[0.8rem] text-white/60 mt-[6px]">Solution Verticals</div>
  </div>
  <div class="px-8 border-r border-white/15">
    <div class="font-syne text-[2.5rem] font-extrabold text-white leading-none">
      100%
    </div>
    <div class="text-[0.8rem] text-white/60 mt-[6px]">Customer Focused</div>
  </div>
  <div class="px-8 border-r border-white/15">
    <div class="font-syne text-[2.5rem] font-extrabold text-white leading-none">
      24/7
    </div>
    <div class="text-[0.8rem] text-white/60 mt-[6px]">Support Ready</div>
  </div>
  <div class="px-8">
    <div class="font-syne text-[2.5rem] font-extrabold text-white leading-none">
      UAE
    </div>
    <div class="text-[0.8rem] text-white/60 mt-[6px]">Trusted Partner</div>
  </div>
</div>
