---
import ValueCard from "./value-card.astro";
import { values } from "./values-data";
---

<!-- VALUES -->
<div class="px-[6%] mb-[100px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
  {values.map((value) => <ValueCard {...value} />)}
</div>
